body {
  width: 100%;
  background: rgba(76, 175, 80, 0.3)
}

header {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 8px;
  padding: 5px;
  border: 1px solid;
  text-align: center;
}

section {
  padding: 10px;
  margin-top: 2em;
  margin-bottom: 4em;
  height: 72em;
}

h1,h2 {
  font-family: Georgia, serif;
}

.column-1 {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  margin-left: 1.9em;
  border: 1px solid;
}

.column-2 {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  margin-left: 2.5em;
  border: 1px solid;
}

@media screen and (min-width: 520px) {
  .column-2 {
    margin-left: 6%;
  }
}

footer {
  margin-left: 7em;
  margin-right: 7em;
  margin-top: 8px;
  padding: 5px;
  text-align: center;
}

/*

body {
  width: 100%;
  background: rgba(76, 175, 80, 0.3)
}

header {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 8px;
  padding: 5px;
  border: 1px solid;
  text-align: center;
}

section {
  padding: 10px;
  margin-top: 2em;
  margin-bottom: 4em;
  height: 72em;
}

h1,h2 {
  font-family: Georgia, serif;
}

.column-1 {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  margin-left: 1.9em;
  border: 1px solid;
}

.column-2 {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  margin-left: 5%;
  border: 1px solid;
}

@media screen and (max-width: 799px) and (min-width: 300px) {
  .column-2 {
    margin-left: 6%;
  }
}

@media screen and (max-width: 929px) and (min-width: 800px) {
  .column-2 {
    margin-left: 8%;
  }
}

@media screen and (max-width: 1079px) and (min-width: 930px) {
  .column-2 {
    margin-left: 9%;
  }
}

@media screen and (min-width: 1080px) {
  .column-2 {
    margin-left: 11%;
  }
}

footer {
  margin-left: 7em;
  margin-right: 7em;
  margin-top: 8px;
  padding: 5px;
  text-align: center;
}

*/