#contact-info {
	font-size: .8em
}

.job {
	background-color: #e9e5dc;
	padding-bottom: 1px;
	border-radius: 1em;
}

.ps {
	font-size: .8em;
}

ul {
	color: grey;
}
ul>li::first-letter {
	color: blue;
}